<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/main.js" defer></script>
    <title>Headquarters</title>
  </head>

  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item has-background-dark">
            <img src="/img/Logo.png" width="30" height="30" />
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons" id="nav-buttons">
                {{! <a class="button is-primary">
                  <strong>Settings</strong>
                </a> }}
                <a class="button is-light" id="logout">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="tabs is-boxed is-medium">
        <ul>
          <li>
            <a id="hq">
              <span class="icon is-small"><i
                  class="fas fa-h-square"
                  aria-hidden="true"
                ></i></span>
              <span>HQ</span>
            </a>
          </li>
          <li>
            <a id="todo">
              <span class="icon is-small"><i
                  class="fas fa-list-ul"
                  aria-hidden="true"
                ></i></span>
              <span>To Do</span>
            </a>
          </li>
          <li>
            <a id="timer">
              <span class="icon is-small"><i
                  class="fas fa-hourglass-start"
                  aria-hidden="true"
                ></i></span>
              <span>Timer</span>
            </a>
          </li>
          <li>
            <a id="inspire">
              <span class="icon is-small"><i
                  class="far fa-lightbulb"
                  aria-hidden="true"
                ></i></span>
              <span>Inspire</span>
            </a>
          </li>
        </ul>
      </div>
      {{{body}}}
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Headquarters</strong>
          by
          <a>Study Buddies</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
  </body>

</html>