<section class="columns">
  <div class="box column">
    <h2 class="has-text-black has-text-centered">Lists</h2>
    <p class="has-text-black">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nisi
      harum dolorum suscipit consequatur, ipsam possimus voluptates nobis
      commodi quae minus tempora qui sit, explicabo reiciendis consectetur
      laboriosam repellat consequuntur?
    </p>
  </div>
  <div class="box column is-offset-1">
    <h2 class="has-text-black has-text-centered">Progress</h2>
    <p class="has-text-black">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nisi
      harum dolorum suscipit consequatur, ipsam possimus voluptates nobis
      commodi quae minus tempora qui sit, explicabo reiciendis consectetur
      laboriosam repellat consequuntur?
    </p>
  </div>
</section>