<section class="columns">
  <div class="box column">
    <h2 class="has-text-black has-text-centered">Welcome To Headquarters</h2>
    <p class="has-text-black">
      Welcome to the best study app in the world!!!!!!!!
    </p>
  </div>
</section>