<article>
  <div class="tabs is-boxed is-medium">
    <ul id="inspire-tabs-ul">
      <li class="tab is-active"  id="quote">
        <a>
          <span class="icon is-small"><i
              class="fas fa-quote-right"
              aria-hidden="true"
            ></i></span>
          <span>Quote</span>
        </a>
      </li>
      <li class="tab" id="video">
        <a>
          <span class="icon is-small"><i
              class="fas fa-play-circle"
              aria-hidden="true"
            ></i></span>
          <span>Video</span>
        </a>
      </li>
    </ul>
  </div>

<div class="card" id="card-quote">
  <div class="card-body" id="quote-card-body">
    <blockquote class="blockquote mb-0">
      <p id="quote-content"></p>
      <div>
        <cite title="Source Title" id="source-title"></cite>
      </div>
    </blockquote>
  </div>
  <div>
    <button class="button" id="new-quote-button">New Quote</div>
  </div>
</div>


<div id="video-content" class="is-hidden">
  <div>
    <div class="card video-card is-dark">
      <h2>Study Tips</h2>
      <div class="video-box">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/p60rN9JEapg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hPK91nSWK2I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="card video-card  is-dark">
      <h2>Study Motivation</h2>
      <div class="video-box">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/g6BtbIiJ_rc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d9gwmyPMByM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </div>


    <div class="card video-card  is-dark">
       <h2>Meditation</h2>
       <div class="video-box">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/inpok4MKVLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/K4YoQHjaziI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
    </div>

    <div class="card video-card  is-dark">
      <h2>Stretches</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KPWBUYpsWSY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/i_okbXKf_cM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    <div class="card video-card  is-dark"> 
      <h2>Study Music</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jXZAbnn1kTU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sjkrrmBnpGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>


</article>

<script src="js/inspire/inspire.js" type="module"></script>