<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Headquarters Login</title>
  </head>
  <body id="login-body">
    <section class="columns">
      <div class="column is-2 is-offset-5">
        <figure class="image is-square">
          <img src="/img/Logo.png" />
        </figure>
      </div>
    </section>
    <article id="button-box">
      <section class="columns">
        <div class="column has-text-centered">
          <button class="button is-link is-large" id="signup">
            Sign Up
          </button>
        </div>
        <div class="column has-text-centered">
          <button class="button is-primary is-large" id="login">
            Login
          </button>
        </div>
      </section>
    </article>
    <section class="columns is-centered">
      <div class="column is-half">
       <div class="card" id="card-quote">
  <div class="card-body" id="quote-card-body">
    <blockquote class="blockquote mb-0">
      <p id="quote-content">Generate new quote</p>
      <div>
        <cite title="Source Title" id="source-title"></cite>
      </div>
    </blockquote>
</div>
      </div>
    </section>
    <div class="modal" id="signup-modal">
      <div class="modal-background" id="signup-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Sign Up</p>
          <button class="delete" id="signup-delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                type="email"
                placeholder="Email"
                id="signup-email"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                class="input"
                type="password"
                placeholder="Password"
                id="signup-password"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" id="signup-confirm">Confirm</button>
        </footer>
      </div>
    </div>

    <div class="modal" id="login-modal">
      <div class="modal-background" id="login-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Login</p>
          <button class="delete" id="login-delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                id="login-email"
                type="email"
                placeholder="Email"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                class="input"
                type="password"
                id="login-password"
                placeholder="Password"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" id="login-confirm">Confirm</button>
        </footer>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Headquarters</strong>
          by
          <a>Study Buddies</a>. The source code is
          licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
  </body>
  <script src="js/login.js"></script>
  <script src="js/inspire/inspire.js" type="module"></script>
</html>