<article>
  <section id="timer-button-box">
    <button class="button" id="timer-settings-button">
      Timer Settings
    </button>
  </section>

  <section class="columns">
    <div class="column is-4 is-offset-4 box" id="timer-container">
      <div id="time-title-container">
        <p class="title is-1" id="time-title"></p>
      </div>
      <figure class="image">
        <img id="tomato-timer" src="/img/tomato-timer.png" alt="Tomato Timer" />
      </figure>
    </div>
  </section>

  <div class="modal" id="timer-settings-modal">
    <div class="modal-background" id="timer-settings-modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Timer Settings</p>
        <button
          class="delete"
          id="timer-settings-modal-delete"
          aria-label="close"
        ></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="select">
          <select>
            <option value="" disabled selected>Select time</option>
            <option>5 minutes</option>
            <option>20 minutes</option>
            <option>25 minutes</option>
            <option>30 minutes</option>
            <option>1 hour</option>
            <option>30 seconds TESTING ONLY</option>
            <option>5 seconds TESTING ONLY</option>
          </select>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-success"
          id="timer-settings-confirm-button"
        >Confirm</button>
      </footer>
    </div>
  </div>
</article>
<script src="js/timer/timer.js" type="module"></script>