<article class="columns">
  <section class="column">
    <button class="button" id="new-list">
      Create New
    </button>
    <button class="button is-hidden" id="back-button">
      Back
    </button>
    <ul id="todos">

    </ul>
  </section>

  <div class="modal" id="todo-modal">
    <div class="modal-background" id="todo-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title" id="create-heading">Create New To Do List</p>
        <p class="modal-card-title" id="edit-heading">Edit To Do List</p>
        <button class="delete" id="todo-delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="field">
          <p class="control">
            <input
              class="input"
              id="todo-title"
              type="text"
              placeholder="Title"
            />
          </p>
        </div>
        <div class="field colours">
          <div class="colour button is-link notification"></div>
          <div class="colour button is-primary notification"></div>
          <div class="colour button is-info notification"></div>
          <div class="colour button is-success notification"></div>
          <div class="colour button is-warning notification"></div>
          <div class="colour button is-danger notification"></div>
          <div class="colour button is-black notification"></div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-success"
          id="create-todo-confirm"
        >Confirm</button>
        <button
          class="button is-success"
          id="update-todo-confirm"
        >Confirm</button>
      </footer>
    </div>
  </div>
</article>

<script src="js/todos/todos.js" type="module"></script>