<article class="columns">
    <section class="column">
        <ul>
            {{#each todos as |todo|}}
                <li>{{todo.title}}</li>
            {{/each}}
        </ul>
    </section>
</article>