@import "https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css";

:root {
  --primary: rgb(60, 188, 195);
  --secondary: rgb(235, 166, 63);
  --dark: rgb(29, 29, 44);
  --light: rgb(239, 241, 243);
  --green: rgb(67, 137, 69);
  --red: rgb(228, 12, 43);
}
* {
  scroll-behavior: smooth;
}
main {
  padding: 1rem;
}
section {
  padding: 1rem;
}
.box {
  background-color: var(--light);
}

h2 {
  font-size: 1.9rem;
}
#button-box {
  margin: auto;
  max-width: 50rem;
}
.modal-card-foot {
  justify-content: center;
}
#nav-buttons {
  justify-content: flex-end;
}

#todos {
  padding: 0.8rem;
}

#todos li {
  margin-top: 1rem;
}

.item {
  width: 100%;
  justify-content: flex-start;
}

.colours {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.colour {
  padding: 0rem 1.5rem;
  margin: 2px !important;
}
.selected {
  border: white solid 2px !important;
}

.edit {
  margin-right: 1rem;
  font-size: 2rem;
}
