@import "https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css";

:root {
  --primary: rgb(60, 188, 195);
  --secondary: rgb(235, 166, 63);
  --dark: rgb(29, 29, 44);
  --light: rgb(239, 241, 243);
  --green: rgb(67, 137, 69);
  --red: rgb(228, 12, 43);
}
* {
  scroll-behavior: smooth;
}
main {
  padding: 1rem;
}
section {
  padding: 1rem;
}
.box {
  background-color: var(--light);
}

h2 {
  font-size: 1.9rem;
}
#button-box {
  margin: auto;
  max-width: 50rem;
}
.modal-card-foot {
  justify-content: center;
}
#nav-buttons {
  justify-content: flex-end;
}

#main-list {
  padding: 0.8rem;
}

#main-list li {
  margin-top: 1rem;
}

.todo {
  width: 100%;
  justify-content: flex-start;
}

.colours {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.colour {
  padding: 0rem 1.5rem;
  margin: 2px !important;
}
.selected {
  border: white solid 2px !important;
}

.edit-todo-button,
.edit-item-button,
.confirm-add-item-button,
.confirm-edit-item-button {
  margin-right: 1rem;
  font-size: 2rem;
}

.item {
  align-items: center;
  transition: all, ease-in-out, 1s;
}

.field {
  margin: 0px !important;
}

.is-hidden {
  display: none;
}

#time-title-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  margin: -1rem 0 0 -1rem;
}

#timer-container {
  position: relative;
  padding: 1rem;
}

#card-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #375a7f;
  padding-bottom: 0.5rem;
}

#quote-card-body {
  padding: 40px;
}

#quote-content {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#source-title {
  padding: 1rem;
}

.card {
  margin: auto;
  width: 80%;
}

.card h2 {
  padding: 1rem;
}

.video-card {
  width: fit-content;
  margin-bottom: 1rem;
}

.video-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

iframe {
  padding: 1rem;
}

#timer-button-box {
  padding-top: 0px !important;
  padding-left: 0px !important;
}

#login, #signup {
  width: 10rem;
}

footer {
  position: sticky;
  height: 100px;
  top: calc( 100vh - 100px );
}
